@import url(' https://fonts.cdnfonts.com/css/chava ');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'TT Hoves', sans-serif;
    color: #222222;
   }

   section{
    padding: 0 calc(10.6vw - 15.8px) calc(11.1vw + 18.4px);
   }

   .bg_img{
    background-image: url(./img/html_css_js\ 1.png);
    background-repeat: no-repeat;
    background-size: calc(24vw + 89px);
    background-position: top calc(4.9vw + 58.6px) right calc(6.1vw - 19.8px);
   }

   .logo{
    width: calc(8.8vw + 182px);
    margin-top: 37px;
    margin-bottom: calc(6.3vw + 36px);
   }

   .infoWrapper{
    display: flex;
    gap: 30px 160px;
    flex-wrap: wrap;
    margin-bottom: calc(3.1vw + 36px);
   }

   .title{
    font-size: calc(0.6vw + 14px); /*21-16*/
    line-height: 140%;
   }

   .subtitle{
    font-size: calc(0.6vw + 14px);
    line-height: 140%;
    font-weight: 700;
   }

   h1{
    font-size: calc(4.2vw + 26px);
    line-height: 110%;
    font-family:'Chava', sans-serif;
    margin-bottom: calc(2.2vw + 12px);
   } 

   .infoText{
    font-weight: 300;
    font-size: calc(1vw + 14.3px);
    line-height: 126%;
    width: calc(66.6vw +77.6px);
    margin-bottom: 20px;
   }

.btnsWrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 20px 30px;
}

.primary{
    width: 328px;
    border: 2px solid #6E3ABA;
    color: #FFFFFF;
    background-color: #6E3ABA;
    padding: 20px 0;
    border-radius: 12px;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    
}


.secondary{
    width: 328px;
    border: 2px solid #6E3ABA;
    color: #6E3ABA;
    background-color: #FFFFFF;
    padding: 20px 0;
    border-radius: 12px;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
}



.section2{
    padding: 0 calc(10.6vw - 15.8px) calc(11.1vw + 18.4px);
}

.photo{
    width: 200px; /*250-200*/
    
    }

 h2{
    
    font-size: calc(2.8vw + 25px); /*60-35*/
    font-weight: 500;
    line-height: calc(3.3vw + 27.5px); /*70-40*/
    font-family: 'TT Hoves', sans-serif;
    margin-bottom: calc(7.7vw + 9px); /**/ 
    text-transform: uppercase;
   
}


.infoWrapper2{
    display: flex;
    gap: 70px;/*70-13*/
    flex-wrap: wrap;
}

.info2 h3{
    width: calc(11.6vw + 286px); /*435-330*/
    height: calc(3.3vw + 37.5px); /*330-50*/
    font-size: calc(1.3vw + 13px); /*30-18*/
    font-weight: 600;
    font-family: 'TT Hoves', sans-serif;
    line-height: calc(1.4vw + 19.5px); /*38-25*/
    text-transform: uppercase;
    margin-top: calc(1.7vw + 3.7px); /*25-10*/
    margin-bottom: calc(1.1vw + 5.8px); /*20-10*/
    
}

.info2{
    width: calc(13.5vw + 277px); /*450-328*/
    height: calc(11.3vw + 333px); /*477-375*/
    margin-bottom: calc(1.7vw + 34px); /*55-40*/
    display: flex;
    flex-wrap: wrap;
}

.infoText2{
    width: calc(18.8vw + 259px); /*500-330*/
    height: calc(11.6vw + 81px); /*230-125*/
    font-weight: 400; /*400-400*/
    font-size: calc(1.3vw + 13px); /*30-18*/
    line-height: calc(1.4vw + 19.5px); /*38-25*/
    font-family: 'TT Hoves', sans-serif;
   
    
}

#div2{
    margin-top: 70px;
}


.content{
    display: flex;
    flex-wrap: wrap;
    gap: 30px 120px;
    margin-bottom: calc(2.4vw + 21px);
}

.contentcad{
    width: calc(8vw + 298px);
}

.contentcad h3{
    
    font-weight: 600;
    font-size: calc(1vw + 14.2px);
    margin-bottom: calc(1.1vw + 9px);
    text-transform: uppercase;
    line-height: 140%;
}
 .contentcad p{
    font-size: calc(1vw + 14.2px);

 }

 